.board-container {
	height: 100%;
	width: 100%;
	max-width: 500px;
	max-height: 500px;
	display: grid;
}

.board {
	min-width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
}

.board-square {
	display: grid;
	place-items: center;
	border: 1px solid $color-lines;
	border-collapse: collapse;

	// Removing outer borders
	&-0, &-1, &-2 {
		border-top: none;
	}

	&-2, &-5, &-8 {
		border-right: none;
	}

	&-6, &-7, &-8 {
		border-bottom: none;
	}

	&-0, &-3, &-6 {
		border-left: none;
	}
}