.options {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 5%;

	.option-item {
		font-size: 1.25rem;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
