.scoreboard {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: calc(2vw + 1.5rem);
}

.score-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	font-weight: bold;

	.score-item-icon {
		font-size: 2rem;
	}

	& p {
		font-size: large;
		font-weight: bold;
	}
}
