@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  color: #212529;
  background-color: #f8f9fa;
}

html,
body {
  min-height: 100vh;
}

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5vh 1rem;
  display: grid;
  gap: 2rem;
  place-items: center stretch;
  grid-template-rows: auto 1fr auto auto;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(2vw + 1.5rem);
}

.score-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}
.score-item img {
  width: calc(20px + 1vw);
  height: auto;
}
.score-item p {
  font-size: large;
  font-weight: bold;
}

.board {
  margin-top: auto;
  margin-bottom: auto;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board-square {
  display: grid;
  place-items: center;
  border: 1.75px solid #212529;
  border-collapse: collapse;
  font-size: 3.5rem;
}
.board-square-0, .board-square-1, .board-square-2 {
  border-top: none;
}
.board-square-2, .board-square-5, .board-square-8 {
  border-right: none;
}
.board-square-6, .board-square-7, .board-square-8 {
  border-bottom: none;
}
.board-square-0, .board-square-3, .board-square-6 {
  border-left: none;
}

.current-turn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-turn .current-turn-text {
  font-size: 1.2rem;
  font-style: italic;
}
.current-turn .current-turn-text .current-turn-icon {
  font-size: 1.75rem;
  font-weight: bold;
}

.options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}
.options .option-item {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}
.options .option-item:hover {
  text-decoration: underline;
}
