@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$font-family: "Open Sans", sans-serif;

$color-background: #f8f9fa;
$color-players: #343a40;
$color-font: #212529;
$color-lines: #212529;
