@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-family: "Open Sans", sans-serif;

$color-background: #F8F9FA;
$color-players: #343A40;
$color-font: #212529;
$color-lines: #212529;