@import "./variables";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: $font-family;
	color: $color-font;
	background-color: $color-background;
}

html,
body {
	min-height: 100vh;
}

body {
	max-width: 600px;
	margin: 0 auto;
	padding: 2.5vh 1rem;
	display: grid;
	gap: 2rem;
	place-items: center stretch;
	grid-template-rows: auto 1fr auto auto;
}

@import "./components/scoreboard";
@import "./components/board";
@import "./components/current-turn";
@import "./components/options";
