@import "./variables";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: $font-family;
	color: $color-font;
	background-color: $color-background;
	overflow-y: hidden;
}

html,
body {
	min-height: 100vh;
	max-height: 100vh;
}

body {
	max-width: 600px;
	margin: 0 auto;
	padding: 1vh 1vw;
	display: grid;
	gap: calc(0.5rem + 1.5vh);
	place-items: center stretch;
	grid-template-rows: repeat(4, auto);
}

@import "./components/scoreboard";
@import "./components/board";
@import "./components/current-turn";
@import "./components/options";
